<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<% include ../partials/dashboard/head-landing %>
		<link rel="stylesheet" href="/css/dashboard/landing.css" type='text/css'>
		<title>Dashboard landing page</title>
	</head>
	<body>

		<!--Navbar-->
		<% include ../partials/dashboard/navbar %>
		<!--//Navbar-->

		<!--Breadcrumbs-->
		<% include ../partials/dashboard/breadcrumbs %>
		<!--//Breadcrumbs-->

		<!--common js scripts -->
		<% include ../partials/dashboard/commonjs-landing %>
		<script type="text/javascript" src="/js/dashboard/landing.js"></script>
		<!--//common js scripts -->
	</body>
</html>
