.nav-pills{
	border-radius: 0;
	background-color: #f1ece9;
	border-bottom: 1px solid #d0cbc7;
}

.nav-pills .active a{
	border-radius: 0;
	background-color: #ddd !important;
	color: #777 !important;
}

.nav-pills .active a .badge{
	color: #337ab7;
}

.nav-pills li a{
	color: #337ab7;
}

.nav-pills li .notch {
	position: absolute;
	bottom: -2px;
	left: 45%;
	margin: 0;
	border-top: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #fff;
	padding: 0;
	width: 0;
	height: 0;
	/* ie6 height fix */
	font-size: 0;
	line-height: 0;
	 /* ie6 transparent fix */
	_border-right-color: pink;
	_border-left-color: pink;
	_filter: chroma(color=pink);
}

	.nav-pills li .notch.right {
		left: auto;
		right: 14px;
	}

	.nav-pills li .notch.left {
		left: 14px;
		right: auto;
	}

	.nav-pills li .border-notch {
		border-bottom-color: #d0cbc7;
		bottom: -1px;
	}
